.feedback-list{
    max-width: 700px;
    margin: 20px auto;
}

.card{
    background-color: #f2f2f2;
    padding: 15px;
    margin-bottom: 12px;
    border-left: 5px solid teal;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button{
    background-color: crimson;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 10px;
}